<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta name="referrer" content="always">
  <title>{{user.nickname}}邀请你开PA</title>
  <meta content="随手见朋友" name="description"/>
  <link href="https://cdn.bootcss.com/bulma/0.4.0/css/bulma.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="shortcut icon" type="image/png" href="https://ks3-cn-beijing.ksyun.com/ida-video/html_statics/favicon.ico"/>
  <script src="https://ks3-cn-beijing.ksyun.com/ida-video/html_statics/iphone-inline-video.min.js"></script>
</head>

{% block body %}
{% endblock %}
</html>
