{% extends "invite/base.html" %}

{% block body %}
<body class="layout-default">
  <div id="top_area" style="position:absolute;top:10px;display:none;z-index:100;">
    <div style="position:absolute;margin-top:25px;margin-left:80px">{{user.nickname|truncatechars:6}}邀请你加入Party</div>
    <a href="https://api.gouhuoapp.com/invite/download/?channel_id={{channel.channel_id}}&channel_type={{channel.channel_type}}">
      <img src="/static/top_bar.png" />
    </a>
  </div>
  <div id="area" style="height:700px;width:100%;background-image:url('/static/bg.png');">
    <div style="height:50px">
    </div>
    <div style="width:296px;height:459px;margin: 0 auto;background-image:url(/static/card.png);padding-top:50px;">
      <div style="width:72px;height:79px;margin: 0 auto;">
        <img src="/static/logo1.png"/>
      </div>
      <div style="width:84px;height:84px;margin: 0 auto;padding-top:20px">
        <img style="width:84px;height:84px;border-radius:50%;" src="{{user.avatar_url}}" />
      </div>
      <div style="width:200px;height:10px;margin: 0 auto;padding-top:25px;text-align:center;font-size:18px">
        {{user.nickname|truncatechars:10}}
      </div>
      <div style="width:84px;height:10px;margin: 0 auto;padding-top:25px;text-align:center;font-size:13px">
        id: {{user.paid}}
      </div>
      <div style="width:208px;height:42px;margin: 0 auto;padding-top:40px;">
        <a href="#" onclick="play()">
          <img src="/static/btn_join1.png"/>
        </a>
      </div>
    </div>
    <div style="position:absolute;bottom:-10px;">
      <a href="https://api.gouhuoapp.com/invite/download/?channel_id={{channel.channel_id}}&channel_type={{channel.channel_type}}">
        <img src="/static/bottom_bar.png" />
      </a>
    </div>
  </div>
  <video
    id="video"
    style="object-fit:initial;height:600px;width:100%;z-index:1;"
    preload="auto"
    x5-video-player-type="h5"
    x5-video-player-fullscreen="true"
    playsinline
    webkit-playsinline
    controls
    src="http://vid-123636.hls.fastweb.broadcastapp.agoraio.cn/live/{{channel_id}}/index.m3u8"
  </video>

<script>
function play() {
  var video = document.getElementById('video');
  video.style.position = "absolute";
  video.style.top = "0px";
  video.play();
  document.getElementById('area').style.display = "none";
  document.getElementById('top_area').style.display = "block";
}
setTimeout("location.href='/invite/{{user.id}}/pa/?channel_id={{channel.channel_id}}&channel_type={{channel.channel_type}}'", 10000);
</script>
</body>
{% endblock %}
