{% extends "invite/base.html" %}

{% block body %}
<body class="layout-default">
  <div style="height:600px;width:100%;">
    <div style="position:fixed;top:10px;z-index:10;">
      <div style="position:absolute;margin-top:25px;margin-left:80px">{{user.nickname|truncatechars:6}}邀请你加入Party</div>
      <a href="http://gouhuoapp.com/wechat/share/812/74960/">
        <img src="/static/top_bar.png" />
      </a>
    </div>
    <div style="position:absolute;left:0;top:0;z-index:1;width:100%;height:600px">
      <video
        id="video"
        style="object-fit:initial;z-index:1;height:600px;width:100%;"
        preload="auto"
        x5-video-player-type="h5"
        x5-video-player-fullscreen="true"
        playsinline
        webkit-playsinline
        controls
        autoplay
        src="https://joinhouse.party/assets/video/video.mp4">
      </video>
    </div>
    <div style="position:fixed;bottom:-10px;z-index:11;">
      <img src="/static/bottom_bar.png" />
    </div>
  </div>

<script>
document.getElementById('video').play();
</script>

</body>
{% endblock %}
