<!DOCTYPE HTML>
<html lang="zh-CN">

{% extends "h5/base.html" %}
{% block title %}开PA用户条例{% endblock %}
{% block css %}{{static_url}}/css/clause.css{% endblock %}

{% block content %}
<h1>《开PA用户条例》</h1>
<section>
  <p>
特别提示：感谢您对开PA的关注！请您认真阅读以下条例，一经注册为开PA用户，即视为您愿意遵守以下条例。《开PA用户条例》（下面简称“用户条例”）本着以维护开PA秩序更好的保障用户合法权益，构建和谐、法治、健康的网络环境为目的，参照《全国人民代表大会常务委员会关于加强网络信息保护的决定》的文件精神以及《用户注册协议》的相关内容与用户共同建立。</p>
</section>
<h2>一、条例确认</h2>
<section>
  <p>开PA是由北京清风云科技有限公司创建、运行的社交网络平台(下面简单称“本平台”)，本平台将根据用户条例为使用者提供服务，该用户条例的内容可以由开PA随时更新，且更新后的用户条例一旦在App或官网上公布更新即代替原有用户条例。</p>
  <p>开PA用户（以下简称“用户”）是指开PA App的注册用户，即在独立思考的基础上认可、同意用户条例的全部内容且完成注册流程的开PA使用者。用户行为不得违反现行法律法规且须遵守本用户条例；未注册者在本平台的活动亦参照用户条例。本平台将按照相关法律法规及用户注册协议，配合司法机关维护被侵权人合法权益。</p>
  <p>在您使用开PA提供的服务之前，应当仔细阅读用户协议，如您不同意用户条例的有关内容,请您停止使用开PA所提供的全部服务；一经注册或使用开PA成为开PA用户，即视为您已经了解并接受用户条例的有关规定（包括开PA对用户条例更新后的内容）。</p>
</section>
<h2>二、服务说明</h2>
<section>
  <p>用户注册成功后，开PA将为用户开通服务，用户即享有开PA帐号的使用权，一经注册，用户账号及密码将由用户负责管理，该使用权不得以任何方式转让。帐号的行为将被视为注册用户的行为。用户的个人隐私将受到保护。</p>
  <dl>
    <dt>1. 知识产权的说明：</dt>
      <dd>1.1 开PA软件著作权及相关权益归北京清风云科技有限公司单独所有并使用；</dd>
      <dd>1.2 开PA软件独特的视频底片、底纹等相关设计元素的知识产权归北京清风云科技有限公司单独所有并行使；</dd>
      <dd>1.3 用户通过开PA软件上传至开PA服务器的视频如产生知识产权的，归用户和开PA共同所有，双方均有权授权其他第三方使用。</dd>
  </dl>
  <dl>
    <dt>2. 侵权举报的处理原则：</dt>
      <dd>开PA作为原创型社交软件，高度重视自由表达和个人正当权利的行使，依照法律规定停止违法视频传播是开PA的法定义务。</dd>
  </dl>
</section>
<h2>三、用户行为规范</h2>
<section>
  <p>在使用本平台的过程中，用户的表达不得侵害他人合法权益，不得与现行法律法规和本公约相冲突，用户必须遵循以下原则：</p>
  <dl>
    <dt>1. 用户注册、使用开PA应符合现行法律法规。不得以任何方式授让开PA帐号使用权，不得盗用他人帐号。</dt>
    <dt>2. 用户不得恶意通过机器或软件等非人力手段注册开PA帐号、发布内容或关注他人，经开PA官方许可的软件应用除外。</dt>
    <dt>3. 用户拥有设置个性化帐号信息的权利(包括：昵称、头像等)，但不得设置含有以下内容的帐号信息：</dt>
      <dd>3.1违反国家法律法规的；</dd>
      <dd>3.2 包含人身攻击性质内容的；</dd>
      <dd>3.3 暗示与他人或机构相混同的；</dd>
      <dd>3.4 包含其他非法信息的；</dd>
      <dd style="margin-bottom:0.6rem">不得使用隐晦表达等方式规避以上限制。</dd>
    <dt>4. 用户拥有发布信息的权利，但不得发布含有以下内容的信息：</dt>
      <dd>4.1 反对宪法确定的基本原则的；</dd>
      <dd>4.2 危害国家统一、主权和领土完整的；</dd>
      <dd>4.3 泄露国家秘密、危害国家安全或者损害国家荣誉和利益的；</dd>
      <dd>4.4 煽动民族仇恨、民族歧视，破坏民族团结，或者侵害民族风俗、习惯的；</dd>
      <dd>4.5 破坏国家宗教政策，宣扬邪教、迷信的；</dd>
      <dd>4.6 散布谣言，扰乱社会秩序，破坏社会稳定的；</dd>
      <dd>4.7 宣扬淫秽、赌博、暴力、色情、凶杀、恐怖或者教唆犯罪的；</dd>
      <dd>4.8 煽动非法集会、结社、游行、示威、聚众扰乱社会秩序的；</dd>
      <dd style="margin-bottom:0.6rem">4.9 有法律、行政法规和国家规定禁止的其他内容的。</dd>
    <dt>5. 用户不得发布违法信息。违法信息范围详见《开PA用户条例》。</dt>
    <dt>6. 用户不得发布违规营销、违法营销信息。违规营销及违法营销信息范围详见《开PA用户条例》。</dt>
    <dt>7. 用户不应发布不实信息。不实信息范围详见《开PA用户条例》。</dt>
    <dt>8. 用户应尊重他人名誉权，不得以侮辱、诽谤等方式对他人进行人身攻击。</dt>
    <dt>9. 用户应尊重他人隐私权，不得侵害他人隐私。涉及公众利益或经由当事人同意的除外（隐私包括真实姓名、身份证号、电话号码、家庭住址及用户不愿公开的其他个人信息）</dt>
    <dt>10. 用户应尊重他人肖像权，未经他人同意不得擅自使用或修改其肖像。</dt>
    <dt>11. 用户应尊重他人安宁权，不得利用开PA骚扰他人。</dt>
  </dl>
  <p>以上，用户需要对其在开PA中公开发布的信息负责，并承担用户所发布内容产生的后果所带来的全部责任。</p>
</section>
<h2>四、开PA管理及客户隐私保护</h2>
<section>
  <p>开PA的用户信息由开PA平台保存。对用户隐私的保护是开PA的基本政策，开PA管理中心将通过技术手段、强化管理等办法，充分保护用户的个人隐私信息，除法律或法律赋予权限的政府部门要求或事先得到用户明确授权等意外原因的除外，用户自行公开、司法机关依照法定程序要求披露的除外。用户在开PA的正当权益受到侵害时，可通过开PA举报功能或司法途径维护权益。</p>
  <p>开PA可通过主动发现及接受用户举报发现违规行为，用户可使用开PA的举报功能。针对违规行为，开PA管理中心将根据《开PA用户条例》以及有关法律的规定予以确定并及时处理。</p>
  <dl>
    <dt>具体违规行为包括：</dt>
    <dd>1. 违规处理包括：内容处理和帐号处理。</dd>
    <dd>2. 内容处理包括：删除、禁止被转发等。</dd>
    <dd>3. 帐号处理包括：禁止发布视频、禁止被关注等，直至注销。</dd>
  </dl>
</section>
<h2>五、免责声明</h2>
<section>
  <p>用户因自身行为引发的法律纠纷，与北京清风云科技有限公司无关。用户条例所指法律法规均指中华人民共和国大陆地区的现行法律法规。用户条例与法律法规相冲突的，以法律法规的相关规定为准。</p>
</section>
<h2>六、条例修改</h2>
<section>
  <p>开PA可依照互联网发展的不同阶段，随着开PA管理经验的不断丰富，出于维护开PA秩序的目的，不断完善该用户条例。如果用户不同意开PA平台对用户条例的所做的修改，用户有权并应当停止使用开PA，如果用户继续使用开PA则视为用户接受开PA对用户协议的修改。</p>
  <p>用户条例自2017年4月28日起施行。</p>
</section>
<h1>《个人信息保护政策》</h1>
<section>
  <p>为保护开PA用户隐私权，优化用户体验，开PA管理中心根据现行法律及政策，制定本《个人信息保护政策》（下文简称“本政策”），本政策将针对开PA用户信息的获取、管理及保护进行说明。本政策适用于开PA向您提供的所有服务，包括手机客户端（APP）及公共网页等设备提供的服务平台。</p>
</section>
<h2>一、用户信息的获取</h2>
<section>
  <p>在您注册开PA用户账号或使用开PA提供的有关服务时，开PA管理中心将会记录少量您提供的相关个人信息，如：姓名、手机号码、邮箱等，上述个人信息将助您完成开PA用户的注册；</p>
  <p>此外，为了提供更优质便捷的服务，开PA管理中心将会对所获取到的用户信息进行整理分类，以便为每一个开PA用户提供个性化的服务。例如：在您回答问题的时候，我们会记录您不感兴趣的话题，并通过开PA管理中心的分类，为您选取您更愿意交流与探讨的话题进行视频录制并提供您可能感兴趣的视频以便优化我们的服务。</p>
</section>
<h2>二、用户信息的管理与保护</h2>
<section>
  <p>为了向每一位开PA用户提供更好的服务或产品，开PA管理中心会在下述情形中使用您的个人信息：</p>
  <ul>
    <li>1. 根据法律法规有关要求；</li>
    <li>2. 根据您的授权</li>
    <li>3. 根据其他特殊约定。</li>
  </ul>
  <p>开PA将尽一切努力保护所获取的用户信息，为防止用户个人信息在意外的、未经授权的情况下被非法使用，开PA管理中心已经采取了如下措施：</p>
  <ul>
    <li>1. 设置专门的客户管理部门，指派有关人员，对用户个人信息进行加密处理；</li>
    <li>2. 在涉及隐私信息的时候设置密码输入进而对开PA用户的个人信息进行保护；</li>
    <li>3. 限制对用户个人信息的访问；</li>
    <li>4. 其他合理措施。</li>
  </ul>
  <p>开PA将会严格遵守上述合理内容对用户信息进行管理，但开PA仍然难以保证您的个人信息通过不安全途径进行交流时的安全性。因此，用户个人也应采取一些措施来保证个人信息的安全，如：不转让自己的账号和密码、设置安全性较高的密码等。</p>
  <p>需要特别说明的是：开PA提供的个人信息保护措施仅适用于开PA提供的服务平台，一旦您离开开PA平台，浏览或使用其他网站，开PA将无义务保护您的个人信息。</p>
</section>
<h2>三、未成年人个人信息的特别保护</h2>
<section>
  <p>若您是18周岁以下的未成年人，在使用开PA平台提供的服务前，应确保事先取得监护人的同意，如您在开PA上申请注册帐号，开PA将默认为您已得到前述同意。开PA将根据国家相关法律法规及本政策的规定保护未成年人的个人信息。</p>
</section>
<h2>四、隐私保护政策的修改</h2>
<section>
  <p>开PA社区管理中心有权随时修改《开PA个人信息保护政策》的任何条款，一旦本政策内容发生改变，开PA会在平台上更新修改后的政策，并自动以新政策内容为准。如果您不同意开PA对本政策的修改，您有权停止使用开PA。如果您继续使用开PA平台提供的服务，将视为您接受了开PA对有关政策的修改。</p>
</section>
{% endblock %}
{% block libjs %}{% endblock %}
